@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Roboto:wght@700&display=swap');

@font-face {
    font-family: LeviWindows;
    src: url(fonts/LeviWindows.ttf);
}

/*Html style*/
html {
    max-width: 100vw;
    height: 100vh;
    letter-spacing: 0.3px;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    min-height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    position: relative;
}

button {
    background-color: transparent;
    border: none;
    color: rgb(14, 14, 14) !important;
}

button:focus {
    outline: 1px dotted #000000 !important;
    outline-offset: -1.5px;
}

button:active {
    box-shadow: inset 0 0 0 1000px rgba(19, 19, 19, 0.16) !important;
}

button:hover {
    outline: 1.5px inset #e5e5e5 !important;
    outline-offset: -1.7px;
    /* box-shadow: inset 0 0 0 1000px rgba(128, 128, 128, 0.2); */
    box-shadow: inset 0 0 0 1000px rgba(19, 19, 19, 0.011);
}

/* ~~~~~~~TOP OF HOME PAGE START ~~~~~~~~*/
* {
    box-sizing: border-box !important;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

/*~~~~~~~~~TOP OF MAIN PAGE END~~~~~~~~~*/

/* Bottom page container */
#w95-home {
    background-color: #008080;
    min-height: 100vh;
}

/* Pink overlay */
.main-overlay {
    z-index: 2;
    position: absolute;
    background-color: #FF6AD5;
    width: 100%;
    height: 100%;
    opacity: 40%;
    pointer-events: none;
}

.bsod {
    background-image: url(images/bsod2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
    background-color: #0000aa;
    pointer-events: auto;
    z-index: 6;
}

#warning-underlay {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

.warning {
    width: 50%;
    height: auto;
    max-width: 550px;
    font-family: 'LeviWindows';
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #C4C4C4;
    border: 2px outset #ececec;
    border-right: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
    outline: #c4c4c4 solid 1px;
}

.btn-outline {
    outline: 1.5px solid #000000;
}

/* Container for icons on left */
#icon-contain {
    height: 100%;
    overflow-y: hidden;
}

/* Icons on left */
.icons-95 {
    width: 50px;
    height: 50px;
}

/* Text under icons on left */
.icons-95-txt {
    font-family: 'Libre Barcode 128 Text',
        cursive;
    font-size: 18px;
}

/* Sets width of col for icons */
.fixed-icon-col {
    min-width: 120px;
    max-width: 120px;
}

/* IE container */
.ie-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 750px;
    max-width: 100%;
    max-height: calc(100% - 37px);
    min-width: 408px;
    transform: translate(-50%, -50%);
    z-index: 4;
    border: 2px outset #e5e5e5;
    border-right: 1.5px solid #4b4b4b;
    border-bottom: 1.5px solid #4b4b4b;
    resize: both;
    overflow: hidden;
}

/* Front & back for ie-box */
.front {
    z-index: 4;
}

.back {
    z-index: 3;
}

.ie-box-border {
    width: 100%;
    height: 100%;
    border: 2px solid #b1b1b1;
    border-right: 3px ridge #e5e5e5;
    background-color: #c4c4c4;
    overflow: hidden;
}

.ie-header {
    min-width: 100%;
    height: auto;
    border: 1.5px solid #787878;
    border-bottom: 1.5px solid #ededed;
    margin-top: 2px;
    background-color: #C4C4C4;
}

/* Topmost bar on IE */
.ie-box-header {
    min-width: 100%;
    max-height: 20px;
    background: linear-gradient(90deg, rgba(0, 0, 128, 1) 0%, rgba(16, 132, 208, 1) 100%);
    font-family: 'LeviWindows';
    font-size: 15px;
    font-weight: 200;
    color: #ffffff;
    cursor: move;
}

/* Icons on top right of IE box */
.mini-btn {
    height: 14px;
    width: 14px;
    background-image: url(images/min.png);
    background-size: cover;
    border: none;
}

.minimise {
    animation: minimise 160ms ease-in-out forwards;
}

@keyframes minimise {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 100%;
        transform-origin: 50% 100%;
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0%;
        transform-origin: 50% 100%;
    }
}

.reopen {
    animation: reopen 160ms ease-in-out forwards;
}

@keyframes reopen {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0%;
        transform-origin: 50% 100%;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 100%;
        transform-origin: 50% 100%;
    }
}

.maxi-btn {
    height: 14px;
    width: 14px;
    background-image: url(images/max.png);
    background-size: cover;
    border: none;
}

.close-btn {
    height: 14px;
    width: 14px;
    background-image: url(images/close.png);
    background-size: cover;
    border: none;
    margin-left: 2px;
}

/* File bar on IE */
.ie-file {
    min-width: 100%;
    font-family: 'LeviWindows';
    font-weight: 500;
    font-size: 13px;
    border-top: 1.5px solid #ededed;
    border-left: 1.5px solid #ededed;
    border-right: 1.5px solid #ededed;
    border-bottom: 1.5px solid #8d8d8d;
    background-color: #C4C4C4;
}

/* Sets list style for file bar */
ul {
    list-style: none;
}

/* Back bar on IE */
.ie-back {
    min-width: 100%;
    min-height: fit-content;
    font-family: 'LeviWindows';
    font-size: 15px;
    border-top: 1.5px solid #ededed;
    border-left: 1.5px solid #ededed;
    border-right: 1.5px solid #ededed;
    border-bottom: 1.5px solid #8d8d8d;
    background-color: #C4C4C4;
}

.back-little-bar {
    width: 3.02px;
    height: 45px;
}

.back-icon-col {
    max-width: 57px;
}

/* All icons on back bar */
.back-icons {
    width: 20px;
    height: auto;
}

/* Address bar on IE */
.ie-address {
    min-width: 100%;
    background-color: #C4C4C4;
    font-family: 'LeviWindows';
    font-size: 13px;
    border-top: 1.5px solid #ededed;
    border-left: 1.5px solid #ededed;
    border-right: 1.5px solid #ededed;
    border-bottom: 1.5px solid #8d8d8d;
}

.address-start {
    width: 65px;
}

/* Long address bar on address bar */
.address-bar {
    height: 21px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 0.1px #8b8b8bcc inset, -1px -1px #eaeaea inset, 2px 2px #1a1a1a inset, -2px 0px #101010 inset;
}

.address-logo {
    width: auto;
    height: 15px;
}

.address-url {
    margin-top: 1.5px;
}

/* Arrow icon on address bar */
.arrow-icon {
    width: 16px;
    height: calc(100% - 4px);
    display: block;
    margin-right: 2px;
    margin-top: 1px;
}

.address-go {
    width: 69px;
    border-right: 1.5px solid #8d8d8d;
    padding-left: 3px;
    padding-right: 3px;
}

.btn-flash {
    outline: none;
    outline-offset: none;
    animation: flash 1.5s steps(2, end) infinite 1.5s;
}

.address-go-arrow {
    margin-bottom: 3px;
}

@keyframes flash {
    from {
        outline: none;
        outline-offset: none;
    }

    to {
        outline: 1px inset #e5e5e5;
        outline-offset: -1.7px;
        /* box-shadow: inset 0 0 0 1000px rgba(128, 128, 128, 0.2); */
        box-shadow: inset 0 0 0 1000px rgba(19, 19, 19, 0.011);
    }
}



.address-links {
    border-left: 1.5px solid #ededed;
    width: 65px;
}

/* Separtor on address bar */
.separate-bar {
    height: 16px;
}

/* Main area of IE box */
.ie-main {
    height: calc(100% - 126.5px);
    padding-bottom: 21px;
    background-color: #ffffff;
    border: 1.5px solid #4b4b4b;
    border-bottom: 1.5px #8d8d8d;
    overflow: hidden;
}

/* Bottom bar on IE box */
.ie-bottom {
    position: fixed;
    bottom: 0px;
    left: 11px;
    width: 100%;
    max-height: 21px;
    background-color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-right: none;
}

.ie-bottom::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1.5px inset #ffffff;
    width: 1px;
    height: 61%;
}

/* For style of bars on bottom bar */
.ie-bottom-bars {
    font-family: 'LeviWindows';
    font-size: 10px;
    max-height: 19px;
    border-left: 1.5px solid #8d8d8d;
    border-top: 1.5px solid #8d8d8d;
    border-right: 1.5px solid #ffffff;
    border-bottom: 1.5px solid #ffffff;
}

.bottom-bar-last {
    clip-path: polygon(100% 0, 100% 49%, 96% 100%, 0 100%, 0 0);
    border-right: none;
}

/* For logo on bottom bar */
.ie-bottom-logo {
    width: 20px;
}

.earthsearch-bottom {
    width: 12px;
    height: auto;
    margin-bottom: 4px;
}

.internet-zone {
    line-height: 18px;
}


/* ~~~~~~~~FOOTER START~~~~~~~~ */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 37px;
    background-color: #C4C4C4;
    border-top: #f5edf3 solid 3px;
    z-index: 6;
}

#footer-overlay {
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 37px;
    background-color: #FF6AD5;
    opacity: 40%;
    z-index: 6;
    pointer-events: none;
}

/* Start button footer */
.start {
    width: 75px;
    height: 25px;
    font-family: 'LeviWindows';
    font-size: 17px;
    background: #C0C0C0;
    border: 3px outset #dadada;
    z-index: 1;
}

/* For dropup menu */
.dropdown-menu {
    background-color: #C4C4C4;
    border-radius: 0;
    border: 3px outset #C4C4C4;
    width: 250px;
    height: 500px;
    font-family: 'LeviWindows';
    font-size: 15px;
    z-index: 1001;
    animation: start-menu-up 175ms ease-in-out;
}

#dropup-overlay {
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 5.5px);
    height: calc(100% + 6.3px);
    background-color: #FF6AD5;
    opacity: 40%;
    z-index: 6;
    pointer-events: none;
}

@keyframes start-menu-up {
    0% {
        transform: translate(-4px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(-4px, -33px);
        opacity: 1;
    }
}

.start-closing {
    animation: start-menu-down 175ms ease-in-out;
    display: block;
}

@keyframes start-menu-down {
    0% {
        transform: translate(-4px, -500px);
        opacity: 1;
    }

    100% {
        transform: translate(-4px, 0px);
        opacity: 0;
    }
}

#dropup-banner {
    writing-mode: vertical-lr;
}

#dropup-banner>h3 {
    transform: rotate(-180deg);
    background-color: #808080;
    font-family: 'Roboto', sans-serif;
    text-indent: 5px;
    color: #C4C4C4;
}

/* For icons on dropup menu */
.menu-icons {
    width: 35px;
    height: auto;
}

.start-divider {
    height: 5px;
    width: 100%;
    border-top: 1px solid #808080;
}

/* For logo on start button */
.footer-logo {
    width: auto;
    height: 23px;
}


/* For small bars on footer */
.foot-bars {
    height: 25px;
}

.taskbar-window {
    position: relative;
    top: 0;
    right: 0;
    max-width: 150px;
}

.taskbar-btn {
    height: 25px;
    width: 100%;
    font-family: 'LeviWindows';
    font-size: 12px;
    background: #C0C0C0;
    border: 3px outset #dadada;
}

.task-selected {
    background: #C2C2C2;
    border: 3px inset #f0f0f0;
}

.moving {
    animation: moveLeft 175ms ease-in-out;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* For time in bottom right */
#time {
    font-family: 'LeviWindows';
    font-size: 11px;
}

#time-contain {
    width: max-content;
    background: #C0C0C0;
    border: 2.5px inset #ffffff;
}

/* For volcume icon bottom right */
#volume {
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 991.9px) {
    .ie-box-header {
        font-size: 13px;
    }
}

@media only screen and (max-width: 580px) {
    .taskbar-window {
        max-width: 35% !important;
    }

    .taskbar-btn {
        font-size: 0;
        margin-bottom: 4px;
        text-align: center !important;
    }

    .taskbar-btn>.footer-logo {
        margin-right: 0 !important;
    }

    .ie-box {
        min-width: 0;
        min-width: 100vw;
        min-height: calc(100% - 37px);
        top: 0;
    }

    .mini-btn {
        display: none;
    }

    .maxi-btn {
        display: none;
    }

    .close-btn {
        width: 17.5px;
        height: 17.5px;
    }
}

@media only screen and (max-width: 550px) {
    .address-bar {
        max-width: 65%;
    }
}

@media only screen and (max-width: 530px) {
    .address-bar {
        max-width: 60%;
    }
}

@media only screen and (max-width: 470px) {
    .address-bar {
        max-width: 55%;
    }
}

@media only screen and (max-width: 430px) {
    .address-bar {
        max-width: 50%;
    }
}

@media only screen and (max-width: 370px) {
    .address-bar {
        max-width: 45%;
    }
}